.book-display {
	margin: 10px;
	float: left;
	width: 190px;
	height: 250px;
	padding: auto;
	border-color: rgb(107, 163, 189);
	border-style: inset;
	border-width: 4px;
	background-color: black;
	box-shadow: 4px 2px 5px rgb(47, 71, 82);
	margin-bottom: 10px;
}
.book-display.fav {
	width: 190px;
}

.display-thumb {
	width: 160px;
	height: 160px;
	object-fit: contain;
	padding-top: 5px;
	padding-bottom: 0;
}

.display-title {
	padding-top: 5px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: rgb(107, 163, 189);
}
.authors {
	overflow: hidden;
	font-size: 12px;
	height: 35px;
	font-weight: normal;
}
