ul {
	display: flex;

	justify-content: space-between;
	list-style-type: none;
	align-items: center;
}

li {
	font-size: 1.25rem;
}

.navBar {
	box-shadow: 4px 2px 5px rgb(107, 163, 189);
	color: darkkhaki;
	margin-bottom: 0.5rem;
	padding: 2rem;
	padding-bottom: 0;
	bottom: 0;
	font-size: 70%;
	left: 0;
	justify-content: space-between;
	width: 100%;
	max-height: 120px;
	background-color: black;
	min-width: 500px;
}
.brand:hover {
	color: #7c7748;
}
.navBar button {
	background: transparent;
	border: 2px solid rgb(107, 163, 189);
	color: rgb(107, 163, 189);
	padding: 0.4rem 0.5rem;
}

.navBar button:hover {
	background: transparent;
	color: darkkhaki;
	cursor: pointer;
	border-color: darkkhaki;
}

.brand {
	cursor: pointer;
	font-size: 1.5em;
	color: rgb(107, 163, 189);
	display: flex;
	flex-direction: row;
}

img.brand {
	position: relative;
	right: 0;
	margin: 15px;
	bottom: 0;
	margin-bottom: 0;
	margin-top: 20px;
}
