@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	background-color: darkkhaki;
	color: rgb(20, 33, 35);
}

p {
	font-size: 20px;
}

button {
	background-color: transparent;
	/* border: 2px solid steelblue; */
	color: steelblue;
	font-size: 0.7rem;
	font-family: inherit;
	max-width: 150px;
	padding: 0.2rem 0.2rem;
	height: fit-content;
	margin: 2px;
}

button:hover {
	cursor: pointer;
	color: white;
	background-color: rgb(107, 163, 189);
}

.page {
	margin: 0 auto;
	max-width: 600px;
	overflow: auto;
	text-align: center;
}

.form {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 1rem;
}

.form input {
	display: block;
	width: 100%;
	height: 40px;
	margin: 5px;
	padding: 3px 7px;
	font-size: 17px;
	background-color: darkkhaki;
	border-bottom-color: rgb(107, 163, 189);
	border-right-color: rgb(131, 198, 229);
	/* border-left-color: rgb(19, 28, 33); */
	border-left-color: rgb(62, 94, 109);
	border-top-color: rgb(93, 154, 182);
}
